.holder-header {
  position: absolute;
  top: 0;
  left: 50vw;
  transform: translateX(-50%);

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 1rem;
}

.holder-header img {
  width: 150px;
}

.btn-trial {
  background-color: white;
  float: right;
}

@media (min-width: 1024px) {
  .holder-header img {
    width: auto;
  }
}
